# Ignore all common image types
iti_project_Copy/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.tiff
*.ico
*.pdf
node_modules/
build/
.env/
/assets/images/
P2sitedata.json/

P1sitedata.json/
P3sitedata.json/
P4sitedata.json/
P5sitedata.json/
P6sitedata.json/