.common__heading {
    color: #000;
    margin: 0 0 33px;
	position: relative;
	padding-left: 40px;
	
}

.common__heading::after {
	background: #c00404;
	content: "";
	height: 30px;
	width: 5px;
	position: absolute;
	top: 2px;
	bottom: 1px;
	left: 14px;
	margin:auto;

	

}



.display__flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}


.contactus {
	background: white;
	padding-top: 10px;
	padding-bottom: 100px;
	height: 100%;
	width: 100%;

}
.contactus1 {
	background: #64725c;
	padding-top: 10px;
	padding-bottom: 100px;
	height: 100%;
	max-width: 100%;

}
#map{
margin-left: 0px;

}
.contactus__card {
	width:345px;
    height:263px;
	font-size: 18px;
	padding: 20px;
	background: rgb(252, 252, 252);
	border-top: 6px solid #c00404;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(65, 56, 56, 0.16),0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
	float:center;
	widows: 100%;
	margin-left: 10px;


}



.contactus .icon__address {
	width: 35px;
}

.contactus__card h4::after {
	content: "";
	width: 50%;
	height: 1px;
	background: #6d6c6c;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


.header>h4 {
	font: 20px/24px "Lato-Bold";
	text-align: center;
	position: relative;
	padding-bottom: 15px;
	margin: 15px 0;
	padding:0px 0px 15px;
}

.heading {
	font: 20px/24px "Lato-Bold";
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	margin: 15px 0;
	padding:0px 0px 15px;

}
.contactus__card address {
	padding: 0;
	margin: 0;
}


.p {
	font-size: 14px "Lato-Regular";
	line-height: 25px;
	letter-spacing: 0.5px;
	color: #000;
	margin-bottom:30px;
	
}

#margin{
	font-size: 20px;
	margin-top: 30px;
	margin-left:20px;
	margin-right:20px;
}


.card_img{
     width: 45px;
	 vertical-align:center;
	 height: 57px;
}

#column{
	width:423px;
	height:233px;
}
  
  


.contact {
	background-position: 50% 100%;
	background-size: cover;
	
	max-height: 100%;
	max-width:100%;
	
  }
#border{
	border:1px solid rgb(160, 159, 159);
	
	

}
#border1{
	border:1px solid rgb(160, 159, 159);
	margin:0px 0px 0px 0px;
	

}

.contact1 {
  text-align: center;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  border-radius: 10px;
  
}

.style{
	color:2px solid black;
	margin-left: 110px;
	display: inline-flexbox;
	margin-bottom: 5px;
	justify-content: left;
	
}
  
.address {
	width:110px;
	height: 120px;
	float: left;
	border-right:150px ;
}
.para_contact{
    text-align: left;
	margin: 0px 0px 0px 0px;
}

.address_border{
    border-radius: 5px;
	border-style: ridge;
}
.address_location{
	margin:10px 0px 0px 0px;
	
}

#contact_title{
	color: rgb(185,42,6);
}