.box {
  display: flex-start;
  margin: 5px;
}



.titleheader {
  font-weight: bold;
  text-transform: none;
  text-align: center;
  font-size: 30px;
  
  font-family: 'Times New Roman', Times, serif;
}

.titleheadermobile {
  font-weight: bold;
  text-transform: none;
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.titleheadermobile1 {
  font-weight: normal;
  text-transform: none;
  font-size: 30px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}


#title {

  font-family: 'Times New Roman', Times, serif;
 

}

#headerimage1{
position:relative;
right: 8px;

}

#headerimage2{
position:relative;
left:0px;
}
#imagestyle{
 width: 120px;
 height: 120px;
}