
.subheader{
    font-family: "Open Sans", serif; 
    font-weight: 400;
    text-decoration: none;
    padding:  0.5rem 0.2rem; 
    color:black;   
   
}

.subheader:hover{   
    color:rgb(243, 16, 16);
    text-decoration: none;  
    background-color: black;    
}
#p{
  text-align: justify;
  text-indent: 50px;
}
 